@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
}

header{
    background-color: #1f2937;
    color:#fff;
    padding:20px 50px;

}

.logo{

    font-size:24px;
    color: #f9faf8;
    padding-left: 50px;
    font-weight: 600;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a{
    text-decoration: none;
    font-weight: 300;
    color: #e5e7eb;
    
}

nav ul{
    
    display:flex;
    list-style: none;
    gap:20px;
    
}

nav ul li a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;

}